#main > div.inner > div:nth-child(2) {
    width: 50px !important;
}

.UrlBar {
    padding-right: 132px !important;
}

#titlebar > div.window-buttongroup {
    height: 32px !important;
    align-items: center !important;
}

.window-buttongroup > button {
	height: 100% !important;
}

span.tabbar-wrapper > div.button-toolbar {
	width: 50px !important;
}

#browser.win.address-top .toolbar:has(.window-buttongroup.on-mainbar),
#browser.linux.address-top .toolbar:has(.window-buttongroup.on-mainbar) {
    min-height: calc(35px / var(--uiZoomLevel));
}

div.window-buttongroup.on-mainbar {
	height: 100% !important;
}