#header {
	position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 16px !important;
}

#browser:not(.maximized) #main > div.UrlBar.toolbar.toolbar-mainbar {
	margin-top: 10px !important;
}

#pagetitle {
	display: none !important;
}

#browser:not(.maximized) #titlebar > div.window-buttongroup {
	height: 50px !important;
}