#main > div.inner > div:nth-child(2) {
    width: auto !important;
}

.UrlBar {
    padding-right: 132px !important;
}

#titlebar > div.window-buttongroup {
    height: 33px !important;
    align-items: center !important;
}
